.Footer {
  background-color: #E9F9FF;
}

.Footer__item__header {
  line-height: 21.92px;
  font-size: 1rem;
  font-weight: 600;
  color: #7782BF;
  margin-bottom: .18rem;
  text-transform: uppercase;
}

.Footer__item__text {
  color: #7782BF;
  line-height: 26px;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;

}

.Footer__item__toplink ul {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Footer__item__toplink ul li:not(:last-child):after {
  content: "";
  width: 2px;
  display: inline-block;
  height: 15px;
  margin-left: .25rem;
  margin-right: .25rem;
  background-color: #7782BF;
}

.Footer__item__toplink a {
  color: #434D80;
  line-height: 1.3;
  font-size: 0.938rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.Footer__item__slack {
  font-weight: 700;
  font-size: 1rem;
}